{% extends 'base.html' %}
{% block title %}Import Jadwal{% endblock %}
{% block content %}
<div class="card bg-light border-info shadow-lg">
    <div class="card-body p-5">
        <h2 class="card-title mb-3"><i class="bi bi-cloud-arrow-up-fill me-2"></i>Import Jadwal dari File</h2>
        <hr>
        <p>Unggah file Excel (.xlsx) atau CSV (.csv) untuk menambahkan banyak jadwal sekaligus.</p>

        <div class="alert alert-light border-start border-4 border-primary mt-4">
             <h6 class="fw-bold">Belum Punya Template?</h6>
             <p class="text-muted small mb-2">Unduh template file Excel di bawah ini untuk memastikan format file Anda benar sebelum diimpor.</p>
             <a href="{{ url_for('routes.download_template_import') }}" class="btn btn-success btn-sm"><i class="bi bi-download me-2"></i>Unduh Template Import</a>
        </div>
        <form method="post" enctype="multipart/form-data" class="mt-4">
            <div class="mb-3">
                <label for="file" class="form-label fw-bold">Upload File Anda</label>
                <input class="form-control" type="file" id="file" name="file" accept=".csv, .xlsx" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary w-100 mt-3"><i class="bi bi-file-earmark-arrow-up me-2"></i>Proses Import</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}